<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <BaseTable msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import BaseTable from '@/components/BaseTable.vue'

export default {
  name: 'TableCountry',
  components: {
    BaseTable,
  }
}
</script>