<script>
export default {
  props: {
    buttonsCount: Number,
    page: Number,
    perpage: Number,
    test: String,
    isPrev: Boolean,
    isNext: Boolean,
    isOtherPages: {
      type: Boolean,
      default: false,
    },
data() {
  return {
    visiblePages: 1,
  }
}

  },
  computed: {
    nowPage: {
      get() {
        return this.page
      },
      set(value) {
        if(value>0 && value < this.buttonsCount) {
          this.$emit('update:page', value)
        } else return this.page
      } 
    },
    
  },


}
</script>

<template>
  <div>
    <button v-if="isPrev" @click="nowPage--">prev </button>
    <button @click.prevent="$emit('update:page', Number($event.target.textContent))" v-for="button in buttonsCount"
      :key="button" :class="{'is-selected': nowPage===button}">{{ button }}</button>
    <button v-if="isNext" @click="nowPage++">next</button>
  </div>
</template>

<style scoped>
button {
  margin:10px 2px;
  transition: color .3s ease, background-color .3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #666464;
  color: #fff;
}

.is-selected {
  background-color: #504e4e;
  color: #fff;
}
</style>