<script>
import { mapState, mapGetters } from 'vuex';
import BasePagination from "@/components/BasePagination.vue"
import FilterTable from './FilterTable.vue';
export default {
  components: {
    BasePagination,
    FilterTable,
  },
  data() {
    return {
      page: 1,
      perPage: 10,
      isSelectedCountry: '',

    }
  },
  methods:{
    filteredTable() {
      if(this.isSelectedCountry) {
        return this.countriesData.filter(item=>item['iso_3166_1_a2'] === this.isSelectedCountry)
      } else {
        return this.countriesData
      }
    },
  },
  computed: {
    ...mapGetters(['countriesData']),
    ...mapState(['filterData']),
    tableHead() {
      return Object.keys(this.countrData[0])
    },
    tableInfo() {
      return Object.values(this.filterData.page_data.data[0])
    },
    pageInfo() {
      return this.filterData.page_data.page
    },
    countCountry() {
      return this.countrData.length
    },
    filterCountry() {
      return this.filteredTable()
    },
    countrData() {
      return this.filterCountry.slice(this.start, this.end)
    },
    buttonsCount() {
      return Math.ceil(this.filterCountry.length / this.perPage)
    },
    start() {
      return (this.page - 1) * this.perPage
    },
    end() {
      return this.start + this.perPage
    },
    filterValues() {
      let res = []
      for (const iterator of this.countriesData) {
        if(!res.includes(iterator['iso_3166_1_a2'])) {
          res.push(iterator['iso_3166_1_a2'])
        }
      }
      return res
    }
  },
  watch:{
   isSelectedCountry() {
    this.page = 1
    this.filteredTable()
   } 
  },
}
</script>

<template>
  <div>
    <h1>Base Table</h1>
    <FilterTable :select-value.sync="isSelectedCountry" :filter-values="filterValues"/>
    <table class="table__country">
      <thead>
        <tr>
          <th v-for="head in tableHead" :key="head"> {{ head }}</th>
        </tr>
      </thead>
      <tr v-for="str in countrData" :key="str.id">
        <td v-for="ceil in str" :key="ceil">{{ ceil }}</td>
      </tr>
    </table>
    <BasePagination :buttons-count="buttonsCount" :page.sync="page" :perpage.sync="perPage"
      :is-next="true" :is-prev="true" />
  </div>
</template>

<style scoped>
.table__country {
  width: calc(100% - 20px);
  margin: 0 10px;
}

td {
  margin-left: 20px;
}

@media (max-width: 1280px) {
  .table__country {
    font-size: 12px;
  }
}

@media (max-width: 968px) {
  .table__country {
    font-size: 10px;
  }
}

@media (max-width: 596px) {
  .table__country {
    font-size: 8px;
  }
}
</style>