<script>
export default {
  props: {
    filterValues: Array,
    selectValue: String,
  },
  data() {
    return {
      isSelected: '',
    }
  },
  watch:{
    isSelected() {
      this.$emit('update:selectValue', this.isSelected)
    }
  }
}
</script>

<template>
  <div>
    <select name="country" id="country" v-model="isSelected">
      <option value="">Выберите страну</option>
      <option v-for="country in this.filterValues" :key="country" :value="country">{{ country }}</option>
    </select>
  </div>
</template>